.bookList{
    margin: 0 auto;
    width: 500px;
}
.footerBottom{
    font-family: 'Simonetta';
    margin: 10px auto;
    width: 500px;
    display: flex;
    align-items: center;
}

.footerBottom h2{
    display: flex;
    justify-content: center;
    width: 500px;
    color: dimgray;
    margin-top: 10px;
}

.footer {
    width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer h1 {
    font-family: 'Yeon Sung';
}

.footer h6 {
    font-family: 'Dosis';
}
